@font-face {
  font-family: Nitti;
  src: url("../fonts/Nitti.otf");
}

/* line 14, ../sass/style.sass */
p, h3 {
  font-family: "Nitti", serif;
  text-align: center;
  color: rgba(50, 50, 50, 0.9);
}

/* line 19, ../sass/style.sass */
p {
  font: 400 18px/34px "Nitti", serif;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 19, ../sass/style.sass */
  p {
    line-height: 1.25em;
    font-size: 0.85em;
  }
}

/* line 25, ../sass/style.sass */
h3 {
  font-size: 2em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 25, ../sass/style.sass */
  h3 {
    font-size: 1.5em;
  }
}

/* line 30, ../sass/style.sass */
a {
  color: rgba(50, 50, 50, 0.7);
  font-family: "Nitti", serif;
  text-decoration: underline;
}

/* line 35, ../sass/style.sass */
a:hover {
  background: rgba(250, 250, 250, 0.8);
  text-decoration: none;
}

/* line 40, ../sass/style.sass */
header {
  padding-top: 3em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 40, ../sass/style.sass */
  header {
    background-color: #3498db;
    padding-top: 2em;
    padding-bottom: 1.25em;
  }
  /* line 46, ../sass/style.sass */
  header h3, header p {
    color: #ecf0f1;
  }
}

/* line 50, ../sass/style.sass */
html {
  background: url(../images/bs_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 50, ../sass/style.sass */
  html {
    background: none;
  }
}

/* line 59, ../sass/style.sass */
.bio {
  margin-top: 1em;
  padding: 2em 1.5em 0 1.5em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 59, ../sass/style.sass */
  .bio {
    padding: 1em;
  }
}
/* line 64, ../sass/style.sass */
.bio p {
  text-align: center;
  padding: 0 0 2em 0;
  margin: 0 auto;
  color: rgba(50, 50, 50, 0.9);
}
/* line 69, ../sass/style.sass */
.bio p:last-of-type {
  padding-bottom: 0.5em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 64, ../sass/style.sass */
  .bio p {
    text-align: justify;
    line-height: 1.25em;
    font-size: 0.85em;
  }
}

/* line 76, ../sass/style.sass */
#wrapper {
  width: 100%;
  margin: 0 auto;
  background: rgba(250, 250, 250, 0.8);
}

/* line 81, ../sass/style.sass */
footer {
  padding: 2em 0;
  text-align: center;
}
/* line 84, ../sass/style.sass */
footer a {
  font: 400 1em "Nitti", serif;
  text-decoration: none;
  color: rgba(52, 152, 219, 0.9);
}
/* line 88, ../sass/style.sass */
footer:hover {
  color: rgba(50, 50, 50, 0.9);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  /* line 94, ../sass/style.sass */
  #wrapper {
    width: 700px;
  }
}
